.sponsors-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
    margin: auto;
    @include for-phone-only {
        width: 90%;
    }

    @include for-tablet-portrait-up {
        width: 80%;
    }
}

.sponsor {
    width: 150px;
    height: 150px;
}

.sponsor-img {
    width: 100%;
}